@using Web_GiupViecNha.Areas.Admin.Models;
@{
    ViewBag.Title = "Quản lý cộng tác viên";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayOut.cshtml";
    List<DonDangKyCTV> dsdk = ViewBag.DSDonDK;
}

@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input

    }
    else
    {
        @input.Substring(0, length) <text>...</text>
    }
}



<h3 class="title-5 m-b-35">Danh sách Đơn đăng ký Cộng tác viên</h3>
<div class="table-data__tool">
    <div class="table-data__tool-left">
        <div class="rs-select2--light rs-select2--md">
            <select class="js-select2" name="property">
                <option selected="selected">All Properties</option>
                <option value="">Option 1</option>
                <option value="">Option 2</option>
            </select>
            <div class="dropDownSelect2"></div>
        </div>
        <div class="rs-select2--light rs-select2--sm">
            <select class="js-select2" name="time">
                <option selected="selected">Today</option>
                <option value="">3 Days</option>
                <option value="">1 Week</option>
            </select>
            <div class="dropDownSelect2"></div>
        </div>
        <button class="au-btn-filter">
            <i class="zmdi zmdi-filter-list"></i>filters
        </button>
    </div>
    <div class="table-data__tool-right">
      
        <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
            <select class="js-select2" name="type">
                <option selected="selected">Export</option>
                <option value="">Option 1</option>
                <option value="">Option 2</option>
            </select>
            <div class="dropDownSelect2"></div>
        </div>
    </div>
</div>
<div class="table-responsive table-responsive-data2">
    <table class="table table-data2">
        <thead>
            <tr>

                <th>Mã đơn</th>
                <th>Tên người đăng ký</th>
                <th>Địa chỉ</th>
                <th>Ngày Sinh</th>
                <th>SĐT</th>
                <th>Email</th>

                <th>Trình độ học vấn</th>
                <th>Kinh nghiệm</th>
                <th>Điểm kiểm tra</th>
                <th>Trạng thái duyệt</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (DonDangKyCTV ddk in dsdk)
            {
                <tr class="tr-shadow">

                    <td>@ddk.MaDon</td>
                    <td class="desc">
                        <span>@ddk.HoTen</span>
                    </td>
                    <td>@Truncate(ddk.DiaChi, 10)</td>
                    <td>@ddk.NgaySInh</td>
                    <td>
                        <span>@ddk.SDT</span>
                    </td>
                    <td>@ddk.Email</td>

                    <td>@ddk.TrinhDoHocVan</td>
                    <td>@ddk.KinhNghiem</td>
                    <td>@ddk.DiemKiemTra</td>
                    <td>@ddk.TrangThaiDuyet </td>
                    <td>
                        <div class="table-data-feature">


                            <button class="item" data-toggle="tooltip" onclick="location.href='@Url.Action("XoaCTV", "CongTacVien", new { })'" data-placement="top" title="Delete">
                                <i class="zmdi zmdi-delete"></i>
                            </button>
                            <button class="item" data-toggle="tooltip" onclick="location.href='@Url.Action("ThongTinChiTietDDK", "CongTacVien", new { maddk = ddk.MaDon })'" data-placement="top" title="Edit">
                                <i class="zmdi zmdi-edit"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr class="spacer"></tr>

            }


        </tbody>
    </table>
</div>
