@using Web_GiupViecNha.Areas.Admin.Models;
   @{ ViewBag.Title = "Quản lý cộng tác viên";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayOut.cshtml";
}
@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input

    }
    else
    {
        @input.Substring(0, length) <text>...</text>
    }
}



<h3 class="title-5 m-b-35">Danh sách Cộng tác viên</h3>
<div class="table-data__tool">
    <div class="table-data__tool-left">
        <div class="rs-select2--light rs-select2--md">
            <select class="js-select2" name="property">
                <option selected="selected">All Properties</option>
                <option value="">Option 1</option>
                <option value="">Option 2</option>
            </select>
            <div class="dropDownSelect2"></div>
        </div>
        <div class="rs-select2--light rs-select2--sm">
            <select class="js-select2" name="time">
                <option selected="selected">Today</option>
                <option value="">3 Days</option>
                <option value="">1 Week</option>
            </select>
            <div class="dropDownSelect2"></div>
        </div>
        <button class="au-btn-filter">
            <i class="zmdi zmdi-filter-list"></i>filters
        </button>
    </div>
    <div class="table-data__tool-right">
        <button onclick="location.href='@Url.Action("DonDKCTV","CongTacVien")'" class="au-btn au-btn-icon  au-btn--green au-btn--small">
            <i class="zmdi zmdi-plus"></i>Đơn đăng ký CTV
        </button>
        <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
            <select class="js-select2" name="type">
                <option selected="selected">Export</option>
                <option value="">Option 1</option>
                <option value="">Option 2</option>
            </select>
            <div class="dropDownSelect2"></div>
        </div>
    </div>
</div>
<div class="table-responsive table-responsive-data2">
    <table class="table table-data2">
        <thead>
            <tr>
              
                <th>Mã CTV</th>
                <th>Tên CTV</th>
                <th>Địa chỉ</th>
                <th>Ngày Sinh</th>
                <th>SĐT</th>
                <th>Email</th>
               
                <th>Trình độ</th>
                <th>Kinh nghiệm</th>
                <th>Điểm đánh giá</th>
                <th>Đơn đăng ký</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (CongTacVien ctv in ViewData["dsctv"] as List<CongTacVien>)
            {
                <tr class="tr-shadow">
                
                    <td>@ctv.MaCTV</td>
                    <td class="desc">
                        <span>@ctv.TenCTV</span>
                    </td>
                    <td>@Truncate(ctv.DiaChi, 10)</td>
                    <td>@ctv.NgaySinh</td>
                    <td>
                        <span>@ctv.SDT</span>
                    </td>
                    <td>@ctv.Email</td>
                
                    <td>@ctv.TrinhDo</td>
                    <td>@ctv.KinhNghiem</td>
                    <td>@ctv.DiemDanhGia</td>
                    <td>@ctv.MaDonDKCTV</td>
                    <td>
                        <div class="table-data-feature">


                            <button class="item" data-toggle="tooltip" onclick="location.href='@Url.Action("XoaCTV", "CongTacVien", new { mactv = ctv.MaCTV})'" data-placement="top" title="Delete">
                                <i class="zmdi zmdi-delete"></i>
                            </button>
                            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                @*<a href="@Url.Action("ThongTinChiTietDV", "DichVu", new { madv = dv.MaDichVu.Trim()})"> </a>*@
                                <i class="zmdi zmdi-edit"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr class="spacer"></tr>

            }


        </tbody>
    </table>
</div>
