@using Web_GiupViecNha.Areas.Admin.Models;
@model DichVu
@{
    ViewBag.Title = "Quản lý dịch vụ";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayOut.cshtml";
}
@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input

    }
    else
    {
        @input.Substring(0, length) <text>...</text>
    }
}
@{

    List<LoaiDV> dsldv = ViewBag.DSLoaiDV as List<LoaiDV>;
}




<h3 class="title-5 m-b-35">Danh sách dịch vụ</h3>
<div class="table-data__tool">
    <div class="table-data__tool-left">
        <div class="rs-select2--light rs-select2--md">
            <select id="locTheoLoai"  class="js-select2" name="property">
                <option value="" selected="selected">Tất cả</option>
                @foreach(LoaiDV ldv in dsldv)
                {
                       <option value="@ldv.MaLoaiDV">@ldv.TenLoaiDV</option>
                    
                }
             
            </select>
            <div class="dropDownSelect2"></div>
        </div>
 
   
        </div>

    <div class="table-data__tool-left">
      
            <input class="au-input au-input--xl" type="text" id="txtSearch" placeholder="Tên dịch vụ" />
            <button class="btn btn-primary"  id="btnSearch">
                <i class="zmdi zmdi-search"></i>
            </button>
     
    </div>
    <div class="table-data__tool-right">
      
        <button type="button" class="au-btn au-btn-icon  au-btn--green au-btn--small" data-toggle="modal" data-target="#largeModal">
            <i class="zmdi zmdi-plus"></i>Thêm Dịch Vụ
        </button>
    </div>
</div>
<div class="table-responsive table-responsive-data2">
    <table class="table table-data2">
        <thead>
            <tr>
           
                <th>Mã Dịch Vụ</th>
                <th>Tên Dịch Vụ</th>
                <th>Mô Tả</th>
                <th>Đơn Vị Tính</th>
                <th>Giá Thành</th>
                <th>Kinh nghiệm yêu cầu</th>
                <th>Hình Ảnh</th>
                <th>Loại Dịch Vụ</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tblDSDichVu">
            @foreach (DichVu dv in ViewData["dsdv"] as List<DichVu>)
            {
           
                <tr class="tr-shadow">
            
                    <td>@dv.MaDichVu</td>
                    <td class="desc">
                        <span>@dv.TenDichVu</span>
                    </td>
                    <td>@Truncate(dv.MoTa, 10)</td>
                    <td>@dv.DonViTinh</td>
                    <td>
                        <span>@dv.GiaThanh</span>
                    </td>
                    <td>@dv.KinhNghiemYeuCau</td>
                  <td>
                      <img width="60px" src="/Content/HinhAnh/@dv.HinhAnh" /></td>  
                    <td>@dv.LoaiDV</td>
                    <td>
                        <div class="table-data-feature">


                            <button class="item btnXoaDV" data-toggle="tooltip" data-madv="@dv.MaDichVu" @*onclick="location.href='@Url.Action("XoaDV", "DichVu", new { madv = dv.MaDichVu })'"*@ data-placement="top" title="Delete">  <i class="zmdi zmdi-delete"></i>  </button>
                            <button class="item btnXemChiTietDV" data-toggle="tooltip"  data-madv="@dv.MaDichVu"  onclick="location.href='@Url.Action("ThongTinChiTietDV", "DichVu", new { dichvu = dv.MaDichVu })'" data-placement="top" title="Edit">
                                <i class="zmdi zmdi-edit">
                                </i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr class="spacer"></tr>

            }


        </tbody>
    </table>

</div>
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">Thêm dịch vụ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
         

<div class="card-body card-block">
    @using (Html.BeginForm("Index", "DichVu", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
   
   
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="txtTenDV" class=" form-control-label">Tên Dịch Vụ</label>
            </div>
            <div class="col-12 col-md-9">

                @Html.TextBoxFor(m => m.TenDichVu, new { @placeholder = "Tên dịch vụ", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TenDichVu, "", new { @class = "text-danger" })

            </div>
        </div>





        <div class="row form-group">
            <div class="col col-md-3">
                <label for="txtMoTa" class=" form-control-label">Mô Tả</label>
            </div>
            <div class="col-12 col-md-9">
                @Html.TextAreaFor(m => m.MoTa, new { @placeholder = "Mô tả", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.MoTa, "", new { @class = "text-danger" })






            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="txtDVT" class=" form-control-label">Đơn vị tính</label>
            </div>
            <div class="col-12 col-md-9">

                <select name="cbDonViTinh"  class="form-control">
                    <option value="Ngày" selected>Giờ</option>
                        <option value="Ngày" selected>Ngày</option>
                    <option value="Ngày">Tuần</option>
                    <option value="Ngày">Tháng</option>
                </select>
          
                @Html.ValidationMessageFor(m => m.DonViTinh, "", new { @class = "text-danger" })


            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="txtGia" class=" form-control-label">Giá thành</label>
            </div>
            <div class="col-12 col-md-9">
                @Html.TextBoxFor(m => m.GiaThanh, new { @type = "number", @placeholder = "Giá  dịch vụ", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.GiaThanh, "", new { @class = "text-danger" })


            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="txtKNYC" class=" form-control-label">Kinh nghiệm yêu cầu</label>
            </div>
            <div class="col-12 col-md-9">
                <input type="text" name="txtKNYC" placeholder="Kinh nghiệm yêu cầu" class="form-control">

            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="file-input" class=" form-control-label">Hình ảnh</label>
            </div>
            <div class="col-12 col-md-9">
                <input type="file" id="fileUpload" name="fileUpload" class="form-control-file">


            </div>
        </div>

        <div class="row form-group">
            <div class="col col-md-3">
                <label for="cbLoaiDV" class=" form-control-label">Loại dịch vụ</label>
            </div>
            <div class="col-12 col-md-9">
                <select name="cbLoaiDV" id="select" class="form-control">

                    @for (int i = 0; i < dsldv.Count; i++)
                    {


                        <option value="@dsldv[i].MaLoaiDV">@dsldv[i].TenLoaiDV</option>

                    }



                </select>
            </div>
        </div>


        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
            <button type="reset" class="btn btn-danger btn-sm">
                <i class="fa fa-ban"></i> Reset
            </button>
        </div>


    }


</div>
            </div>
       
        </div>
    </div>
</div>