@using Web_GiupViecNha.Areas.Admin.Models;
@model DichVu
@{
    ViewBag.Title = "Thêm dịch vụ";

    Layout = "~/Areas/Admin/Views/Shared/_MainLayOut.cshtml";
}
@{List<DichVu> dsdv = ViewData["dsdv"] as List<DichVu>;}
@{

    List<LoaiDV> dsldv = ViewBag.DSLoaiDV as List<LoaiDV>;
}

@{
    string madv;
    if (ViewBag.Madv != null)
    { madv = ViewBag.Madv; }
    else
    {
        madv = Model.MaDichVu;

    }

}
<h2>Thêm Dịch Vụ</h2>
<div class="card-body card-block">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();
        <div class="row form-group">
            <div class="col col-md-3">
                <label class=" form-control-label">Static</label>
            </div>

        </div>
        <div class="row form-group">
            <div class="col col-md-3">
                <label class=" form-control-label">Mã Dịch Vụ</label>
            </div>
            <div class="col-12 col-md-9">
                <input type="text" name="txtMadv" placeholder="Mã dịch vụ" value="@madv" readonly="" class="form-control">


                @*@Html.TextBoxFor(m => m.Madv, new {@Value=madv, @placeholder="Mã dịch vụ",@disabled="", @class="form-control" })
                    @Html.ValidationMessageFor(m => m.Madv, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="txtTenDV" class=" form-control-label">Tên Dịch Vụ</label>
            </div>
            <div class="col-12 col-md-9">

                @Html.TextBoxFor(m => m.TenDichVu, new { @placeholder = "Tên dịch vụ", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TenDichVu, "", new { @class = "text-danger" })

            </div>
        </div>





        <div class="row form-group">
            <div class="col col-md-3">
                <label for="txtMoTa" class=" form-control-label">Mô Tả</label>
            </div>
            <div class="col-12 col-md-9">
                @Html.TextAreaFor(m => m.MoTa, new { @placeholder = "Mô tả", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.MoTa, "", new { @class = "text-danger" })






            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="txtDVT" class=" form-control-label">Đơn vị tính</label>
            </div>
            <div class="col-12 col-md-9">
                @Html.TextBoxFor(m => m.DonViTinh, new { @placeholder = "Đơn vị  tính", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DonViTinh, "", new { @class = "text-danger" })


            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="txtGia" class=" form-control-label">Giá thành</label>
            </div>
            <div class="col-12 col-md-9">
                @Html.TextBoxFor(m => m.GiaThanh, new { @type = "number", @placeholder = "Giá  dịch vụ", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.GiaThanh, "", new { @class = "text-danger" })


            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="txtKNYC" class=" form-control-label">Kinh nghiệm yêu cầu</label>
            </div>
            <div class="col-12 col-md-9">
                <input type="text" name="txtKNYC" placeholder="Kinh nghiệm yêu cầu" class="form-control">

            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="txtHinhAnh" class=" form-control-label">Link Hình Ảnh</label>
            </div>
            <div class="col-12 col-md-9">
                <input type="text" name="txtHinhAnh" placeholder="Hình ảnh" class="form-control">

            </div>
        </div>

        <div class="row form-group">
            <div class="col col-md-3">
                <label for="cbLoaiDV" class=" form-control-label">Loại dịch vụ</label>
            </div>
            <div class="col-12 col-md-9">
                <select name="cbLoaiDV" id="select" class="form-control">

                    @for (int i = 0; i < dsldv.Count; i++)
                    {


                        <option value="@dsldv[i].MaLoaiDV">@dsldv[i].TenLoaiDV</option>

                    }



                </select>
            </div>
        </div>


        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
            <button type="reset" class="btn btn-danger btn-sm">
                <i class="fa fa-ban"></i> Reset
            </button>
        </div>


    }


</div>