@using Web_GiupViecNha.Areas.Admin.Models;
@model DichVuModels
@{
    ViewBag.Title = "ThongTinChiTietDV";

    Layout = "~/Areas/Admin/Views/Shared/_MainLayOut.cshtml";
}

@{

    List<LoaiDV> dsldv = ViewBag.DSLoaiDV as List<LoaiDV>;
    DichVu dv = ViewData["dichvu"] as DichVu;
}

<h2>Thông tin chi tiết dịch vụ</h2>

<div class="card-body card-block">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true);


        <div class="row form-group">
            <div class="col col-md-3">
                <label for="txtMaDV" class=" form-control-label">Mã Dịch Vụ</label>
            </div>
            <div class="col-12 col-md-9">


                <input type="text" name="txtMadv" placeholder="Mã dịch vụ" value="@dv.MaDichVu" readonly="" class="form-control">



            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="txtTenDV" id="tendv" class=" form-control-label">Tên Dịch Vụ</label>
            </div>
            <div class="col-12 col-md-9">

                @Html.TextBoxFor(m => m.Tendv, new { @Value = dv.TenDichVu, @class = "au-input w-100", @type = "text", @placeholder = "Tên dịch vụ" })
                @Html.ValidationMessageFor(m => m.Tendv, "", new { @class = "text-danger" })
            </div>
        </div>





        <div class="row form-group">
            <div class="col col-md-3">
                <label for="txtMoTa" class=" form-control-label">Mô Tả</label>
            </div>
            <div class="col-12 col-md-9">
               
        

                <textarea  name="Mota"  placeholder="Mô tả" class="form-control"> @dv.MoTa</textarea>
                @Html.ValidationMessageFor(m => m.Mota, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="txtDVT" class=" form-control-label">Đơn vị tính</label>
            </div>
            <div class="col-12 col-md-9">

                @Html.TextBoxFor(m => m.Donvitinh, new { @Value = dv.DonViTinh, @class = "au-input w-100", @type = "text", @placeholder = "Đơn vị tính" })
                @Html.ValidationMessageFor(m => m.Donvitinh, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="txtGia" class=" form-control-label">Giá thành</label>
            </div>
            <div class="col-12 col-md-9">

                @Html.TextBoxFor(m => m.Giathanh, new { @Value = dv.GiaThanh, @class = "au-input w-100", @type = "number", @placeholder = "Giá thành" })
                @Html.ValidationMessageFor(m => m.Giathanh, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="txtKNYC" class=" form-control-label">Kinh nghiệm yêu cầu</label>
            </div>
            <div class="col-12 col-md-9">
                <input type="text" name="txtKNYC" value="@dv.KinhNghiemYeuCau" placeholder="Kinh nghiệm yêu cầu" class="form-control">

            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="txtHinhAnh" class=" form-control-label">Link Hình Ảnh</label>
            </div>
            <div class="col-12 col-md-9">
                <input type="text" name="txtHinhAnh" value="@dv.HinhAnh" placeholder="Hình ảnh" class="form-control">

            </div>
        </div>

        <div class="row form-group">
            <div class="col col-md-3">
                <label for="cbLoaiDV" class=" form-control-label">Loại dịch vụ</label>
            </div>
            <div class="col-12 col-md-9">
                <select name="cbLoaiDV" id="select" class="form-control">

                    @for (int i = 0; i < dsldv.Count; i++)
                    {
                        if (dsldv[i].MaLoaiDV == dv.LoaiDV)
                        {
                            <option value="@dv.LoaiDV" selected>@dsldv[i].TenLoaiDV</option>
                            continue;

                        }

                        <option value="@dsldv[i].MaLoaiDV">@dsldv[i].TenLoaiDV</option>

                    }



                </select>
            </div>
        </div>


        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
            <button type="reset" class="btn btn-danger btn-sm">
                <i class="fa fa-ban"></i> Reset
            </button>
        </div>


    }


</div>
