@using Web_GiupViecNha.Areas.Admin.Models;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_HomeLayOut.cshtml";
}
@model List<DichVu>
@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input

    }
    else
    {
        @input.Substring(0, length) <text>...</text>
    }
}


<!-- hero slider -->
<section class="hero-section overlay bg-cover" data-background="/Content/HinhAnh/slide1.jpg">
    <div class="container">
        <div class="hero-slider">
            <!-- slider item -->
            <div class="hero-slider-item">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".1">Đặt lịch trước, rước niềm vui</h1>
                        <p class="text-muted mb-4" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".4">
                       Đặt lịch trước, rước niềm vui
                        </p>
                        <a href="contact.html" class="btn btn-primary" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".7">Đặt lịch ngay</a>
                    </div>
                </div>
            </div>
            <!-- slider item -->
            <div class="hero-slider-item">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="text-white" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Hạnh phúc của bạn là nhiệm vụ của chúng tôi</h1>
                        <p class="text-muted mb-4" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".4">
                     
                        </p>
                        <a href="contact.html" class="btn btn-primary" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".7">Đặt lịch ngay</a>
                    </div>
                </div>
            </div>
            <!-- slider item -->
            <div class="hero-slider-item">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="text-white" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Bảo vệ không gian, an toàn sức khỏe</h1>
                        <p class="text-muted mb-4" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".4">
                           
                        </p>
                        <a href="contact.html" class="btn btn-primary" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="zoomIn" data-delay-in=".7">Đặt lịch ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /hero slider -->
<!-- banner-feature -->
<section class="bg-gray overflow-md-hidden">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-xl-4 col-lg-5 align-self-end">
                <img class="img-fluid w-100" src="/Content/HinhAnh/a7_2.png" alt="banner-feature">
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="row feature-blocks bg-gray justify-content-between">
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                     
                        <img style="width:60px;height:60px" class=" mb-xl-4 mb-lg-3 mb-4 feature-icon" src="/Content/HinhAnh/anh4_logo1.png" />
                        <h3 class="mb-xl-4 mb-lg-3 mb-4">Đặt lịch nhanh chóng</h3>
                        <p>
                            Thao tác 60 giây trên ứng dụng, có ngay người nhận việc sau 60 phút
                        </p>
                    </div>
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                        <img style="width:60px;height:60px" class=" mb-xl-4 mb-lg-3 mb-4 feature-icon" src="/Content/HinhAnh/anh4_logo2.png" />

                        <h3 class="mb-xl-4 mb-lg-3 mb-4">Giá cả rõ ràng</h3>
                        <p>
                            Giá dịch vụ được hiển thị rõ ràng trên ứng dụng. Bạn không phải trả thêm bất kỳ khoản chi phí nào.
                        </p>
                    </div>
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                        <img style="width:60px;height:60px" class=" mb-xl-4 mb-lg-3 mb-4 feature-icon" src="/Content/HinhAnh/anh4_logo3.png" />
                        <h3 class="mb-xl-4 mb-lg-3 mb-4">Đa dạng dịch vụ</h3>
                        <p>
                            Với 9 dịch vụ tiện ích, bTaskee sẵn sàng hỗ trợ mọi nhu cầu việc nhà của bạn.
                        </p>
                    </div>
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                        <img style="width:60px;height:60px" class=" mb-xl-4 mb-lg-3 mb-4 feature-icon" src="/Content/HinhAnh/anh4_logo4.png" />
                        <h3 class="mb-xl-4 mb-lg-3 mb-4">An toàn tối đa</h3>
                        <p>
                            Người làm uy tín, luôn có hồ sơ lý lịch rõ ràng và được Công ty giám sát trong suốt quá trình làm việc.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /banner-feature -->

<!-- courses -->
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center section-title justify-content-between">
                    <h2 class="mb-0 text-nowrap mr-3">Dịch vụ của chúng tôi</h2>
                    <div class="border-top w-100 border-primary d-none d-sm-block"></div>
               
                </div>
            </div>
        </div>
        <!-- course list -->
        <div class="row justify-content-center">
            <!-- course item -->
           @foreach (DichVu dv in Model)
           {
                <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="/Content/HinhAnh/@dv.HinhAnh"  alt=" thumb">
                    <div class="card-body">
                 
                        <a href="@Url.Action("XemChiTiet", "Home", new { madv = dv.MaDichVu})">
                            <h4 class=" card-title">
                            @dv.TenDichVu</h4>
                        </a>
                        <p class="card-text mb-4">
                       @Truncate(dv.MoTa,100)
                        </p>
                        <a href="@Url.Action("XemChiTiet", "Home", new { madv = dv.MaDichVu})" class="btn btn-primary btn-sm">Thông tin chi tiết</a>
                    </div>
                </div>
            </div> 
           }
          
  
  
    
        </div>
        <!-- /course list -->
        <!-- mobile see all button -->
        <div class="row">
            <div class="col-12 text-center">
                <a href="courses.html" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">sell all</a>
            </div>
        </div>
    </div>
</section>
<!-- /courses -->
<!-- cta -->
<section class="section bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h6 class="text-white font-secondary mb-0">Đăng ký dịch vụ ngay hôm nay</h6>
                <h2 class="section-title text-white">Bạn đã sẵn sàng trải nghiệm bTaskee chưa? Bắt đầu ngay với việc đặt lịch đầu tiên của bạn</h2>
                <a href="contact.html" class="btn btn-secondary">Trải nghiệm dịch vụ</a>
            </div>
        </div>
    </div>
</section>
<!-- /cta -->
<!-- success story -->

<!-- /success story -->
<!-- events -->
<section class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center section-title justify-content-between">
                    <h2 class="mb-0 text-nowrap mr-3">Quy trình sử dụng dịch vụ</h2>
                    <div class="border-top w-100 border-primary d-none d-sm-block"></div>
                   
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- event -->
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card border-0 rounded-0 hover-shadow">
                    <div class="card-img position-relative">
                        <img class="card-img-top rounded-0" src="images/events/event-1.jpg" alt="event thumb">
                 
                    </div>
                    <div class="card-body">
                        <!-- location -->
                        <p><i class="ti-location-pin text-primary mr-2"></i>Dhanmondi Lake, Dhaka</p>
                        <a href="event-single.html"><h4 class="card-title">Lorem ipsum dolor amet, consectetur adipisicing.</h4></a>
                    </div>
                </div>
            </div>
            <!-- event -->
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card border-0 rounded-0 hover-shadow">
                    <div class="card-img position-relative">
                        <img class="card-img-top rounded-0" src="images/events/event-2.jpg" alt="event thumb">
                        <div class="card-date"><span>21</span><br>December</div>
                    </div>
                    <div class="card-body">
                        <!-- location -->
                        <p><i class="ti-location-pin text-primary mr-2"></i>Dhanmondi Lake, Dhaka</p>
                        <a href="event-single.html"><h4 class="card-title">Lorem ipsum dolor amet, consectetur adipisicing.</h4></a>
                    </div>
                </div>
            </div>
            <!-- event -->
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card border-0 rounded-0 hover-shadow">
                    <div class="card-img position-relative">
                        <img class="card-img-top rounded-0" src="images/events/event-3.jpg" alt="event thumb">
                        <div class="card-date"><span>23</span><br>December</div>
                    </div>
                    <div class="card-body">
                        <!-- location -->
                        <p><i class="ti-location-pin text-primary mr-2"></i>Dhanmondi Lake, Dhaka</p>
                        <a href="event-single.html"><h4 class="card-title">Lorem ipsum dolor amet, consectetur adipisicing.</h4></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile see all button -->
        <div class="row">
            <div class="col-12 text-center">
                <a href="course.html" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">sell all</a>
            </div>
        </div>
    </div>
</section>
